---
title: XSCALE Live Online Training Streams
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 XSCALE Live Online Training Streams
      p A simpler, faster, safer way to generate uncompromised <a href="https://www.youtube.com/watch?v=7dzVvqfFLhA&t=2s&list=PLcF9BigzPGr3Fsema6jErOT8xwz0HR7NU&index=2" target="_blank">business agility</a>. <br/> Continuously adapting the organization to changing market conditions by <br/>descaling to micro-enterprises: self-organizing, self-managing, and self-directing.
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            p
            a.image.fit href="http://xscale.simpletix.com" 
              img alt="XBA/XPM November/December Dates 2018" src="/img/Xscale-12.png" /
            h3 Coaches Included 
            p <a href="https://www.linkedin.com/pulse/samurai-tea-master-peter-merel/" target="_blank">You can't train someone to be an agile coach</a>. We develop coaching skills by practicing them in the field. It takes years of real world experience, not training, to become qualified as a Coach in the <a href="https://www.linkedin.com/pulse/honorable-agile-ecosystem-peter-merel/" target="_blank">XSCALE learning ecosystem</a>.
            p As in a martial art, there are no shortcuts, but our ecosystem of independent coaches share learnings continuously and collaborate on making them available as open collateral. XSCALE Stewards mentor and consult with the community of coaches to maximize <a href="https://www.youtube.com/watch?v=IlCIKdjxGpo&t=11m15s" target="_blank">client benefits</a> in three disciplines:
            ul
              li <a href="https://www.linkedin.com/pulse/exponential-business-agility-xscale-practice-pattern-language-merel" target="_blank"><b>XBA: </b>Descaling Business Agility</a>
              li <a href="https://www.linkedin.com/pulse/exponential-product-management-xscale-language-peter-merel" target="_blank"> <b>XPM: </b>Breadth-First Product Management</a>
              li <a href="https://www.linkedin.com/pulse/xdevops-xscale-pattern-language-peter-merel/" target="_blank"><b>XDO: </b>Scientific DevOps</a> 
            footer
              ul.actions
                li
                  a.button href="/alliance.html"  Learn More
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          .table-wrapper
            table.alt
              thead
                tr
                  th Timezones
                  th <a href="https://www.linkedin.com/pulse/exponential-business-agility-xscale-practice-pattern-language-merel" target="_blank">Descaling Business Agility</a>
                  th <a href="https://www.linkedin.com/pulse/exponential-product-management-xscale-language-peter-merel" target="_blank">Breadth-first Product Management</a>
                  th <a href="https://www.linkedin.com/pulse/xdevops-xscale-pattern-language-peter-merel/" target="_blank">Scientific DevOps</a>
              tbody
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/USCA" target="_blank">American</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/Event/41499/XBAXLOTMarch2019/')" title="Get Tickets"> <b>April 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/Event/41658/XPMAmericanXLOTMarch2019/')" title="Get Tickets"> <b>April 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/green-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/> </center>
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/EUK" target="_blank">European</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/Event/42375/XBAEUUKXLOTSApril2019/')" title="Get Tickets"> <b>April 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/> </center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/> </center>
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/ANZ" target="_blank">Australasian</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/Event/42374/XBAAustralasianXLOTSApril2/')" title="Get Tickets"> <b>April 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/> </center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/> </center>
          h3 Why Live Online?
          p Self-propagating change provides a path to descaling without resistance, disruption, or compromise. But to start on it takes a reorientation of executive, product and change leadership moving:
          ul
            li Governance from central command and control to decenralized autonomy and alignment. 
            li Product management from depth-first projects to breadth-first ecosystems. 
            li Change from big-transformation-up-front to simple, safe <a href="https://www.linkedin.com/pulse/fixed-price-agile-transformation-peter-merel/" target="_blank">self-propagating transformation</a>.
          p Executive, product and change Leaders can't afford days out of the loop in some classroom. So XLOTS run after-hours in a series of three-hour deep dives twice a week connecting change participants directly to world class hands-on business agility experts, not certified academic "trainers". 
          p XLOTS sessions are collaborative, structured courses for groups of ten twice a week. They're hands-on and focused on opening business bottlenecks, not awarding certifications. Sessions are organized <a href="https://www.linkedin.com/pulse/xscale-live-online-training-streams-peter-merel/" target="_blank">like the carriages of a train ...</a>
