---
title: Training in XSCALE Practice Patterns
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 XSCALE North American Agile Organization Tour
      p Descaling is a quicker, cheaper, better, safer way to generate <a href="https://www.youtube.com/watch?v=7dzVvqfFLhA&t=2s&list=PLcF9BigzPGr3Fsema6jErOT8xwz0HR7NU&index=2" target="_blank">agile organizations</a>.<br/> Teams that self-organize and self-manage business, design, tech and change.<br/> Continuous alignment to constraints without command and control.
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            p
            a.image.fit href="http://xscale.simpletix.com" 
              img alt="" src="/img/tour.png" /
            h3 Coach Mentoring
            p <a href="https://www.linkedin.com/pulse/samurai-tea-master-peter-merel/">You can't train someone to be an agile coach</a>. We develop coaching skills by practicing them in the field. It takes years of real world experience, not training, to become qualified as a Coach in the <a href="https://www.linkedin.com/pulse/honorable-agile-ecosystem-peter-merel/">XSCALE ecosystem</a>.
            p Like a martial art, there are no shortcuts, but this ecosystem of independent Coaches and Consultancies collaborate by developing open collateral and sharing learnings with each other weekly and face to face. Senior XSCALE Stewards select, mentor and assist members to improve <a href="https://www.youtube.com/watch?v=IlCIKdjxGpo&t=11m15s">client engagements</a> in three disciplines:
            ul
              li <a href="https://www.linkedin.com/pulse/exponential-business-agility-xscale-practice-pattern-language-merel" target="_blank"><b>XBA: </b>De-Scaled Business Agility</a>
              li <a href="https://www.linkedin.com/pulse/exponential-product-management-xscale-language-peter-merel" target="_blank"> <b>XPM: </b>Breadth-First Product Management</a>
              li <a href="https://www.linkedin.com/pulse/xdevops-xscale-pattern-language-peter-merel/" target="_blank"><b>XDO: </b>Scientific DevOps</a> 
            footer
              ul.actions
                li
                  a.button href="/alliance.html"  Learn More
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          .table-wrapper
            table.alt
              thead
                tr
                  th Location
                  th <a href="https://www.linkedin.com/pulse/exponential-business-agility-xscale-practice-pattern-language-merel" target="_blank">XBA</a>
                  th <a href="https://www.linkedin.com/pulse/exponential-product-management-xscale-language-peter-merel" target="_blank">XPM</a>
                  th <a href="https://www.linkedin.com/pulse/xdevops-xscale-pattern-language-peter-merel/" target="_blank">XDO</a>
              tbody
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/SanDiego" target="_blank">San Diego</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38284')" title="Get Tickets"> <b>3 - 4 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38286')" title="Get Tickets"> <b>6 - 7 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/green-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/>
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/NewYork" target="_blank">New York</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38289')" title="Get Tickets"> <b>10 - 11 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38290')" title="Get Tickets"> <b>13 - 14 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/green-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/>
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/Utah" target="_blank">Utah County</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38305')" title="Get Tickets"> <b>17 - 18 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpleTixExpress/Events/EventSectionDetail.aspx?ShowId=38306')" title="Get Tickets"> <b>20 - 21 Dec</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/green-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/>
                tr
                  td style="text-align:center; vertical-align:middle"
                    b <a href="https://xscale.simpletix.com/Events/Category/Toronto" target="_blank">Toronto</a>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpletixExpress/Events/Detail.aspx?ShowId=38058')" title="Get Tickets"> <b>11 - 12 March 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/blue-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <a onclick="OpenTicketWindow('https://xscale.simpletix.com/SimpletixExpress/Events/Detail.aspx?ShowId=38265')" title="Get Tickets"> <b>14 - 15 March 2019</b><br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/green-register.png" style="opacity: 1;"/> </a></center>
                  td <center>
                    <br/><img width="100" height="35" border="0" alt="Get Tickets" src="/img/coming-soon.png" style="opacity: 1;"/>
          h3 Practitioner Training
          ul
            li Two-day no-nonsense hands-on experience of descaling practices and principles direct from XSCALE ecosystem founder, <a target="_blank" href="https://www.linkedin.com/in/petermerel/">Peter Merel</a>. The <a href="/alliance.html">North American XSCALE Coaches</a> will be on hand to help organize learning ecosystems for practitioners and their clients and organizations.
            li XSCALE Practitioner certification has no maintenance costs, experience requirements, or sunset clauses. Certification simply recognises competence to practice. Once issued, it never expires.
            li  We're keen to involve seasoned coaches in our ecosystem and happy to in conjunction with Practitioners as part of ongoing coaching relationships. 