---
title: Alliance Membership Structure
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 An Open Ecosystem
      p XSCALE Alliance is the Linux of the Agile world, an ecosystem of strategic partners collaborating on a kernel of proven practice patterns under an <a href="">open content license</a>. Practitioners and coaches in our community share in the evolution of this kernel.
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            h3 Service Provider Certification
            p Similarly to commercial Linux providers, Alliance members offer training, coaching, tools and consulting to help organizations apply XSCALE practices.
            p The Alliance offers commercial certification of XSCALE Coach/Trainer expertise. XSCALE coaching isn't specific to individual practitioner roles, but to team practices, so these certifications are offered in:
            ul
              li <a href="">XPM: Exponential Product Management</a>
              li <a href="">XBA: Exponential Business Agility</a>
              li <a href="">XAP: Exponential Agile Performance</a>
              li <a href="">XDO: XDevOps</a>
            footer
              ul.actions
                li
                  a.button href="certificates.html"  Learn More
          hr/
          section
            a.image.fit href="partners.html" 
              img alt="partners.html" src="img/fire.png" /
            h3 Strategic Partnership
            p XSCALE Strategic Partners are consultancies, training providers and corporate coaching colleges that employ a cadre of certified XSCALE coaches. Benefits of strategic partnership include:
            ul
              li promotion of services to the XSCALE community 
              li discounts on certification of staff and clients
            footer
              ul.actions
                li
                  a.button href="partners.html"  Learn More
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          h3 Ecosystem Structure
          ul
            li Practitioner certification has neither maintenance costs, experience requirements, or sunset clauses on certifications. Practitioner certification means competency to practice.
            li XSCALE Alliance makes no distinction between coaches and trainers. Trainers are competent to coach and coaches also train as a normal part of their role. Only certified Coaches are authorized to contribute to XSCALE training material as moderated by the XSCALE Alliance Stewards’ Council.
            li XSCALE Alliance maintains two contributor communities. Practitioners contribute to reference materials under a "free as speech" license, and coaches to training materials under a "free as beer" one.
            li Stewards are community leaders in various geographies. Stewards provide “Leadership as a Service” (LaaS) to the Coach community for consensus decision-making on training material. Stewards form a council that meets regularly to foster evolution of the XSCALE ecosystem as a whole. 
            li Strategic Partners are organizations that participate in a mutually beneficial service ecosystem based on XSCALE principles. Strategic Partner status isn’t exclusive; Partner organizations maintain whatever other affiliations suit them. 
            li A key commercial benefit of becoming a strategic partner in the XSCALE Alliance is a discount on registration fees for staff and clients. XSCALE Alliance also cross-promotes strategic partners in online and offline collateral and events.
          h3 Certification Model
          p In this table, $X = $1000 AUD + GST in Australia. $X = $1000 USD in the rest of the world.
          .table-wrapper
            table.alt
              thead
                tr
                  th 
                  th Registration
                  th Prerequisites
                  th Criteria
                  th Annually
                  th Access
                  th Benefits
              tbody
                tr
                  td 
                    b Practitioner
                  td $X
                  td None
                  td Passed Test
                  td n/a
                  td Submit xscale.wiki pull requests to Coaches.
                  td Right to include reference materials in derivative works + pre-published xscale.wiki review + Online Community Access
                tr
                  td 
                    b Coach
                  td $5X
                  td Reference from Coach
                  td Passed Test and Steward review
                  td n/a
                  td Submit xscale.wiki and Training collateral pull requests to Stewards
                  td As for Practitioners + pre-publication access & right to use and translate training materials + Online Community Access
                tr
                  td 
                    b Steward
                  td n/a
                  td Reference from Steward + Steward Council Review
                  td Must become a Coach in at least 1 and Practitioner in all 4 certs + pass Steward Council Review
                  td n/a
                  td Full xscale.wiki editing permissions + Provides LaaS to the Coaching community.
                  td Contributes to and edits training materials moderated by Council LaaS + Authorises Online Community Access