---
title: Confirming your signature
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 Please confirm your email address
      p To complete your signature, click the link in the email we just sent you.
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            h3 XSCALE Alliance Privacy Policy
            p We need your e-mail address to send you a validation message. When you respond to that message, we'll be able to add your name to the Manifesto Signatories list. If you have added an endorsement to your signature, we'll make your name a hyperlink to that. 
            p We use Mailchimp to validate signatures. We will not share your email address with any other 3rd parties, nor send you further email unless you've ticked a checkbox on the Manifesto signature form.
            footer
              ul.actions
                li
                  a.button href="http://kb.mailchimp.com/lists/signup-forms/the-double-opt-in-process" target="_blank" Double Opt-In
          hr/
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          a.image.fit href="#" 
            img alt="" src="img/curly2.png" /
          h3 XSCALE Alliance Review Policy
          p We review every signature. Endorsements are purely optional, but when an endorsement URL is included we expect it to endorse the XSCALE Manifesto, not some other method, company or person. We don't post spam, nor do we often respond to comments or inquiries. You may also like to endorse the original Agile Manifesto, for which follow the link below.
          footer
            ul.actions
              li
                a.button href="http://agilemanifesto.org/sign/signup.cgi" Agile Manifesto
