---
title: XSCALE Alliance
---
/! Banner
section#banner
  .content
    header
      h2 <a href="/#manifesto">Bring Together</a>
      p
        | <b><a href="https://www.youtube.com/watch?v=7dzVvqfFLhA" target="_blank">e</a><b>x</b><a href="https://www.youtube.com/watch?v=7dzVvqfFLhA" target="_blank">ponential throughput</a>&nbsp;
        br
        | <b>s</b><a href="https://www.youtube.com/watch?v=Hx-N6dxNFrA" target="_blank">imple design</a>&nbsp;
        br
        | <b>c</b><a href="https://www.youtube.com/watch?v=95poI68g7-E" target="_blank">ontinuous adaptation</a>&nbsp;
        br
        | <b>a</b><a href="https://www.youtube.com/watch?v=cCN_SFdtekc" target="_blank">utonomy in alignment</a>&nbsp;
        br
        | <a href="https://www.youtube.com/watch?v=IlCIKdjxGpo&t=11m15s" target="_blank">triple-loop</a> <b>l</b><a href="https://www.youtube.com/watch?v=IlCIKdjxGpo&t=11m15s" target="_blank">earning</a>&nbsp;
        br
        | <b>e</b><a href="https://www.youtube.com/watch?v=VoiCoG6AghQ" target="_blank">cosystems thinking</a></b>&nbsp;
    span.image onclick='window.location.href="https://www.youtube.com/playlist?list=PLcF9BigzPGr3Fsema6jErOT8xwz0HR7NU"'
      img alt="" src="img/pic01.png" /
  a.goto-next.scrolly href="#manifesto"  Next
/! Manifesto
section#manifesto.spotlight.style2.bottom
  span.image.fit.main
    img alt="" src="img/pic02.png" /
  .content
    .container
      .row
        .4u class="12u$(medium)"
          header
            h3 There's nothing wrong with <br>the Agile Manifesto.
            p <br/><b> We extend its <a href="http://agilemanifesto.org/">values</a> and <a href="http://agilemanifesto.org/principles.html">principles</a> to oppose bureaucracy and disorganization. Not altering the original, but adding on:
            h3 &nbsp;&nbsp; <u>Descaling Values</u>
            ul
              li <a href="https://www.linkedin.com/pulse/leadership-service-peter-merel/" target="_blank">Autonomy and alignment</a> <br>over command and control
              li <a href="https://www.linkedin.com/pulse/tragedy-pmo-peter-merel/" target="_blank">Throughput accounting</a> <br>over cost accounting.
              li <a href="https://www.linkedin.com/pulse/fixed-price-agile-transformation-peter-merel/" target="_blank">Pull-based delivery and change</a> <br>over push-based
              li <a href="https://www.linkedin.com/pulse/samurai-tea-master-peter-merel/" target="_blank">Learning ecosystems</a> <br>over training hierarchies.
              br While there is value in the items on the bottom, we value the items on the top more. And ...
        .4u class="12u$(medium)"
          h3 &nbsp;&nbsp; <u>Descaling Principles</u>
          p
            h5
              ol#selector
                li Directly responsible individuals: business, design and tech stakeholders make decisions together as peers to build solutions that meet each others' constraints.
                li Capture and store learning in small, self-organizing teams: as these work with current constraints they become capable of opening future bottlenecks.
                li Work on outcomes: teams continuously prioritize the current bottleneck, quantify their contributions to top line business throughput, and minimize work in progress.
                li Align small groups of teams into self-managing business streams that continuously adapt their work priorities to changing market feedback.
                li Reward mutual benefit across business streams to reduce silos, wastes and missed opportunities, and share resources, services and learning.
                li Mercilessly refactor business streams: reuse, recycle or reduce all the resources a stream produces so all contribute to top line throughput and none go to waste.
            ul.actions
              div style="text-align:center"
                a.button.special href="#signatory"  Sign The Descaling Manifesto
        div class=("4u$ 12u$(medium)")
          h3 &nbsp;
          p
            h5
              ol start="7"
                li Design breadth-first. Step back to see patterns in and between markets and value streams. These inform designs we can only detail as we learn more.
                li Collaborate rather than delegate: people and teams are in the right relationships when conversations evolve to support each-others' work and learning.
                li Take time to simplify and automate solutions: simple, automated systems cost less than big manual ones, taking less work to maintain business outcomes.
                li Use and value experimentation: experiment to reduce risk and adapt each product to the changing constraints of your business streams and markets.
                li Enrich interfaces to serve under-served markets: spaces between market segments are where most opportunities for innovation and productivity occur.
                li Transform to embrace change: continuously adapt your organization's patterns to changing market conditions and opportunities to open new markets.
            p
              | Like the agile and permaculture manifestoes this is based on, we regard the above as <a href="https://drive.google.com/file/d/0BwhCYaYDn8EgN2M5MTkwM2EtNWFkZC00ZTI3LWFjZTUtNTFhZGZiYmUzODc1/view" target="_blank">closed to modification but open to extension</a>. Not the last word but the next.</b>
  a.goto-next.scrolly href="#about"  Next
/! About
section#about.spotlight.style2.bottom
  span.image.fit.main
    img alt="" src="img/council.png" /
  .content
    .container
      .row
        .4u class="12u$(medium)"
          header
            h3 XSCALE Alliance is ...
            p <b>A <a href="https://www.linkedin.com/pulse/honorable-agile-ecosystem-peter-merel/" target="_blank">learning ecosystem</a> of independent coaches and partners working to <a href="https://www.youtube.com/watch?v=lCJdV-RGEG8&t=1062s&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn&index=8" target="_blank">descale</a> organizations using patterns based on
            ul
              li Hiawatha's <a href="https://www.youtube.com/watch?v=yxz2tbc8aTU&index=10&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn" target="_blank">Great Law of Peace</a>
              li Sen No Rikyu's <a href="https://www.linkedin.com/pulse/samurai-tea-master-peter-merel/" target="_blank">Mu Hin Shu</a>
              li Goldratt's <a href="https://www.youtube.com/watch?v=PZNOtX2WFPY&index=11&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn" target="_blank">Throughput Accounting</a>
              li Holmgren's <a href="https://www.youtube.com/watch?v=VoiCoG6AghQ&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn&index=12" target="_blank">Permaculture</a>
              li Stack's <a href="https://www.youtube.com/watch?v=dfUVa4_hQnc&index=8&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn" target="_blank">Open Book Management</a>
              li Beck's <a href="https://www.youtube.com/watch?v=cGuTmOUdFbo&list=PLUlwwVinte8bVgvqxMHcikJlTh_57ytuT" target="_blank">Extreme Programming</a><br/>
        .4u class="12u$(medium)"
          h3 Like Linux ..
          p  We use <a href="https://www.youtube.com/watch?v=J7YNAUYwcQw&list=PLcF9BigzPGr0Cmfe_rT1qyNlQtM5ekUtn&index=6">Creative Commons</a> to collaborate on collateral for coaching and training – toolkits, not frameworks – for <a href="https://www.linkedin.com/pulse/exponential-business-agility-xscale-practice-pattern-language-merel/" target="_blank">Descaling Business Agility</a>, &nbsp;<a href="https://www.linkedin.com/pulse/exponential-product-management-xscale-language-peter-merel/" target="_blank">3D Product Management</a> and&nbsp; <a href="https://www.linkedin.com/pulse/xdevops-xscale-pattern-language-peter-merel/" target="_blank">XDevOps</a>.
          p The opposite of the Agile Industrial Complex, we're coaches, not trainers, using XSCALE internally to collaborate on client engagements, presentation collateral, patterns and tools.
          div style="text-align:center"
            ul.actions
              li
                a.button.special href="#signatory"Join the XSCALE Alliance

        div class=("4u$ 12u$(medium)")
          h3 For Descaling Organizations.
          p We don't prescribe XSCALE as a framework nor make clients dependent on XSCALE coaches or partners. We build slender but uncompromising new capabilities that self-propagate - that grow exponentially while proving outcomes, lowering resistance, and reducing risk as they grow.
          p Self-directing portfolios of self-managing streams of self-organizing teams of the client's own staff through <a href="#transformation">self-propagating transformation</a>. It's quicker, better, cheaper and, yes, safer too.
  a.goto-next.scrolly href="#benefits"  Next
/! Benefits
section#benefits.spotlight.style2.right
  span.image.fit.main
    img alt="" src="img/pic03.png" /
  .content
    header
      strong
        h3 <b>Descaling vs. Scaling</b>
        h
          br
          | Scaling makes agile teams leaves on a tree.
          br
          | Descaled teams self-manage and self-direct.
          br
          | ... bringing agile to leaves, branches & trunk.
          p
          br
          p
          dl
            dt <a href="https://www.linkedin.com/pulse/leadership-service-peter-merel/" target="_blank">Leadership as a Service</a>
            dd <h5>Empowers teams to make consensus decisions</h5>
            dt <a href="https://www.youtube.com/watch?v=dlUZt8h-Dp0" target="_blank">3D Product Management</a>
            dd <h5>Aligns business, design and tech breadth-first</h5>
            dt <a href="https://www.linkedin.com/pulse/business-agility-clock-peter-merel/" target="_blank">The Camelot Model</a>
            dd <h5>Rapid response to changing market conditions</h5>
            dt <a href="https://www.youtube.com/watch?v=YxR8HkLE11I" target="_blank">Descaling Metrics</a>
            dd <h5>Dunbar size limits for teams, streams & portfolios</h5></b>
    br
    ul.actions
      li
        a.button href="#manifesto"  Learn More
  a.goto-next.scrolly href="#transformation"  Next
/! Transformation
section#transformation.spotlight.style2.left
  span.image.fit.main.bottom
    img alt="" src="img/pic04.png" /
  .content
    header
      h3 Pull Transformation
    p A team can't change faster than its most resistant member. Nor a stream than its most resistant team. Pushing change on existing groups builds resistance and compromise, making things harder & risker over time.
    p Instead we pull individual change champions into a slender <a href="https://www.linkedin.com/pulse/fixed-price-agile-transformation-peter-merel/" target="_blank">new capability</a> that grows by splitting and doubling. We measure outcomes to reduce risk and resistance as it grows. Using agile to make agile.
    p This keeps new and pre-existing capabilities uncompromised, leveraging the benefits of both. It converts change recipients into change leaders by immersion, not instruction. Which is quicker, cheaper, better, and safer than pushing change.</b>
    ul.actions
      li
        a.button href="https://www.youtube.com/watch?v=IlCIKdjxGpo&t=675s"  Learn More
  a.goto-next.scrolly href="#sponsors"  Next
/! Sponsors
section#sponsors.wrapper.style1.special.fade-up
  .container
    header.minor
      h2 XSCALE Alliance Partners
    .box.alt
      .row.uniform
        section.4u class=("6u$(medium) 12u$(xsmall)")
          a href="https://businessagility.institute/discover/xscale-partnering-with-bai/"
            img src="img/bai.png"
            h3 Business Agility Institute
            p Global Community, Conference Organizers
        section.4u class=("6u(medium) 12u$(xsmall)")
          a href="https://www.agilebusiness.org/"
            img src="img/abc.png"
            h3 Agile Business Consortium
            p Global Community, Formerly DSDM
        section class=("4u$ 6u(medium) 12u$(xsmall)")
          a href="https://agiletestingalliance.org/"
            img src="img/ata.png"
            h3 Agile Testing Alliance
            p Global Community, QA Evangelists
        section.4u class=("6u$(medium) 12u$(xsmall)")
          a href="https://www.agilemeridian.com/"
            img src="img/meridiansmall.png"
            h3 Agile Meridian
            p US Federal & Commercial Agile Consultants
        section.4u class=("6u(medium) 12u$(xsmall)")
          a href="https://www.valueinnova.com/xscale-training"
            img src="img/valueinnova.png"
            h3 ValueInnova
            p Lean-Agile Metamorphosis
        section class=("4u$ 6u$(medium) 12u$(xsmall)")
          a href="https://serenitydojo.teachable.com/"
            img src="img/serenity.png"
            h3 John Ferguson Smart
            p World leader in BDD
      p
        br
        br
        br
        br
      a.goto-next.scrolly href="#signatory"  Next
    footer.minor
/! Signatory
section#signatory.spotlight.style1.right
  span.image.fit.main
    img alt="" src="img/pic05.png" /
  .content
    header
      h3 Take part in the XSCALE Alliance
      p <b> Sign the &nbsp;<a href="#manifesto">Descaling Manifesto</a>:<br/>
      strong My Signature ...
      br
      br
      <!-- Begin MailChimp Signup Form -->
      <b>
      <div id="mc_embed_signup">
      <form class="50%" action="//xscalealliance.us13.list-manage.com/subscribe/post?u=8706435d00dedf4e296c0435b&amp;id=e287418653" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
      <h6>
      <div class="mc-field-group"><input type="text" placeholder="My Name" value="" name="NAME" class="required" id="mce-NAME"> </div>
      <div class="mc-field-group"><input type="email" placeholder="My Email - unpublished & no spam" value="" name="EMAIL" class="required email" id="mce-EMAIL"> </div>
      <div class="mc-field-group"> <input type="url" title="Relevant to XSCALE - no spam please" placeholder="My URL - blog, linkedIn, tweet, etc." value="" name="MMERGE1" class=" url" id="mce-MMERGE1"> </div>
      </b>
      </h6>
        br
        strong I'm interested in ... <h5><br/>
      <b><div class="mc-field-group input-group">
          <input type="checkbox" value="1" name="group[4201][1]" id="mce-group[4201]-4201-0"><label for="mce-group[4201]-4201-0">publishing my name as a <a href="/signatories.html">signatory</a>
      </div>
      <div class="mc-field-group input-group">
          <input type="checkbox" value="4" name="group[4205][4]" id="mce-group[4205]-4205-0"><label for="mce-group[4205]-4205-0">getting help descaling my organization
      </div>
      <div class="mc-field-group input-group">
          <input type="checkbox" value="8" name="group[4209][8]" id="mce-group[4209]-4209-0"><label for="mce-group[4209]-4209-0">accrediting as an XSCALE coach/trainer
      </div>
      <div class="mc-field-group input-group">
          <input type="checkbox" value="16" name="group[4213][16]" id="mce-group[4213]-4213-0"><label for="mce-group[4213]-4213-0">partnering my organization with XA</b>
      </div></h5>
      <p>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8706435d00dedf4e296c0435b_e287418653" tabindex="-1" value=""></div>
          <br/> <div class="clear">
            input.fit.special type="submit" value="Join us" name="subscribe" id="mc-embedded-subscribe"
          </div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
