---
title: Alliance Membership Structure
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 An Open Ecosystem
      p XSCALE Alliance is the Linux of the Agile world, an ecosystem of strategic partners collaborating on a kernel of proven practice patterns under an <a href="">open content license</a>. Practitioners and coaches in our community share in the evolution of this kernel.
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            h3 Strategic Partnership
            p XSCALE Strategic Partners are consultancies, training providers and corporate coaching colleges that employ a cadre of certified XSCALE coaches. Benefits of strategic partnership include:
            ul
              li access to and collaboration on a shared base of XSCALE training collateral 
              li promotion of services to the community 
              li discounts on certification of staff and clients
            footer
              ul.actions
                li
                  a.button href="mailto:registrars@xscalealliance.org?subject=XSCALE%20Alliance%20Strategic%20Partnership%20Inquiry"  Learn More
          hr
          section
            a.image.fit href="alliance.html" 
              img alt="" src="img/fire.png" /
            h3 Service Provider Certification
            p Similarly to commercial Linux providers, Alliance members offer training, coaching, tailoring and consulting to help organizations apply the XSCALE practice pattern language.
            p The Alliance offers commercial certification of XSCALE Coach/Trainer expertise. XSCALE coaching isn't specific to individual practitioner roles, but to team practices, so these certifications are offered in:
            ul
              li <a href="alliance.html">Agile Product Management</a>
              li <a href="alliance.html">Agile Portfolio Management</a>
              li <a href="alliance.html">Agile Quality Automation</a>
              li <a href="alliance.html">Agile Cultural Transformation</a>
            footer
              ul.actions
                li
                  a.button href="alliance.html"  Learn More
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          h3 Ecosystem Structure
          ul
            li For each XSCALE discipline there are just two levels of certification, Practitioner and Coach. There's no distinction between coaches and trainers. Trainers can coach and coaches train. 
            li Practitioner certification has no yearly dues, experience requirements, or sunset clauses. It just means the holder proved their literacy in the discipline. Real world mastery depends on real world experience.
            li XSCALE Alliance maintains a Contributor community who do pay dues in exchange for participation in online and offline networking and continuous access to the latest shared collateral. 
            li These Contributors aren't motivated to pay to keep their certificates up. There are no sunset clauses because it's not like you magically forget what you know if you don't pay a tax.
            li Stewards are senior community members authorized to train Coaches. Stewards provide <a href="">Leadership as a Service</a> to the Coach community to assure consensus on evolution of training and reference collateral. Stewards regularly meet in a council focused on evolution of the ecosystem as a whole. 
            li Strategic Partnership doesn't entail equity or directorial obligations and isn’t exclusive in any way; partner organizations may keep up whatever other affiliations they like. 
            li Nevertheless, to qualify as a strategic partner you must employ a minimum number of Coaches or Stewards. In return, strategic partners gain a discount on certification fees for their staff and clients.
            li XSCALE Alliance is producing a set of <a href="">cross-promotion guidelines</a> that govern the way its strategic partners feature in online and offline collateral and events.

          hr
          h3 Strategic Partner Costs and Benefits
          p In this table, $X = $1000 AUD in Australia. $X = $1000 USD in the rest of the world.
          .table-wrapper
            table.alt
              thead
                tr
                  th 
                  th Registration
                  th Prerequisites
                  th Annually
                  th Benefits
              tbody
                tr
                  td 
                    b Bronze
                  td $10X
                  td Must maintain 1 or more Coaches on staff
                  td $5X
                  td 30% off Certificate Registration Fees for employees and clients + Bronze online/offline Promotion
                tr
                  td 
                    b Silver
                  td $25X
                  td Must maintain 3 or more Coaches on staff
                  td $10X
                  td 40% off Certificate Registration Fees for employees and clients + Silver online/offline Promotion
                tr
                  td 
                    b Gold
                  td $50X
                  td Must maintain 5 or more Coaches on staff
                  td $25X
                  td 50% off Certificate Registration Fees for employees and clients + Gold online/offline Promotion
                tr
                  td 
                    b Platinum
                  td $100X
                  td Must maintain 1 Steward on staff
                  td $50X
                  td 60% off Certificate Registration Fees for employees and clients + Platinum online/offline Promotion