---
title: Welcome to the XSCALE Alliance!
---
/! Main
#main.wrapper.style1
  .container
    header.major
      h2 Welcome to the XSCALE Alliance
      p We're grateful for your support!
    .row class="150%" 
      .4u class="12u$(medium)" 
        /! Sidebar
        section#sidebar
          section
            h3 What does it mean to be involved in XSCALE Alliance?
            p We're a network of mutual benefit for independent coaches and consultancies working to make the Agile Organization a reality. To this end we're working together on training courses, events, books, tools, podcasts and videos; if you're working in DevOps, Product Managmement, or Business Agility, we'll be delighted to get you involved in XSCALE.
            footer
              ul.actions
                li
                  a.button href="/blueprint.html" Blueprint
            p We're actively seeking coaches, stewards and partners worldwide to take part in the <a href="https://www.linkedin.com/pulse/honorable-agile-ecosystem-peter-merel/">XSCALE learning ecosystem</a>. Only qualified coaches contribute to our training collateral, but we welcome the entire agile world to contribute to the <a href="/blueprint.html">XSCALE Blueprint</a>, which can always benefit from refactoring, updating and illustration. If you're looking to contribute there we're always delighted by pull-requests. 
      div class=("8u$ 12u$(medium) important(medium)") 
        /! Content
        section#content
          img alt="" src="img/curly.png" /
          p
          h3 When will my signature be posted on the xscalealliance.org site?
          p We still have to automate this so there may be some delay due to volume. We may not be able to respond to all comments or inquiries promptly for this same reason. 
          footer
